@media (max-width: 320px) {
    .shipping-form-group{
        flex-direction: column;
        align-items: unset;
    }
    .shipping-input {
        width: 94%;
    }
    .shipping-select {
        width: 100%;
    }
    .shipping-error div {
        width: 100%;
    }
}