.shipping-form {
    max-width: 400px;
    margin: 0 auto;
}

.shipping-form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.shipping-form-group label {
    font-weight: 600;
}

.shipping-input {
    padding: 7px;
    width: 224px;
    border-radius: 3px;
    border: 1px solid #999;
}

.shipping-select {
    padding: 7px;
    width: 240px;
    border-radius: 3px;
    border: 1px solid #999;
}

.shipping-error div{
    width: 240px;
    color: red;
    word-wrap: break-word;
}

.shipping-btn__content {
    text-align: right;
    margin-top: 30px;
}

.shipping-btn {
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #333;
    background-color: #bbb;
    color: #333;
    padding: 9px 35px;
    border-radius: 3px;
    cursor: pointer;
}

.shipping-btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.free-shipping {
    color: limegreen;
}