.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.cart-item__left {
    display: flex;
    width: 60%;
    border-right: 1px solid #eee;
    padding: 0 100px 30px 0;
}

.cart-item__right {
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item__image {
    width: 100px;
    box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.cart-item__content {
    width: 100%;
    margin-left: 20px;
}

.cart-item__description {
    margin-top: 15px;
    opacity: 0.5;
}

.cart-item__trash-content {
    border: none;
    background-color: white;
    outline: none;
    position: absolute;
    top: 20px;
    right: 15px;
    color: #bbb;
}

.cart-item__trash {
    cursor: pointer;
}

.cart-item__price-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-item__quantity input {
    text-align: center;
    color: #bbb;
    width: 30px;
    border: none;
    outline: none;
}

.cart-item__quantity button {
    border: 1px solid #bbb;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: #bbb;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}